<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Tyler Watson Data Science Capstone Graphs</title>
		<meta charset="UTF-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
        <h2>Interactive Graphs of Twitter Mentions</h2>
        <h5>Tyler Watson - Galvanize Austin Data Science Immersive</h5>
        <h4>Based on approximately 420,000 tweets scraped from 11/28 - 12/14. All tweets contain '#netneutrality'.</h4>
        <h4>Graphs represent networks of Twitter users mentioned together in tweets.</h4>
        <h4>Edges are weighted according to the frequency their two nodes appeared together
        throughout the period scraped and are restricted to those with counts >= 10.</h4>
        <h4>Nodes display Twitter handle on hover and link to user page. Communities are
        represented with color and were identified using <a href="https://en.wikipedia.org/wiki/Louvain_Modularity">Louvain
                Modularity</a>.</h4>
        <h4>All Nodes Included</h4>
        Click <a href="{{ url_for('graph') }}">here</a> to see the graph with all nodes.

        <h4>Node With Highest Betweenness Centrality Removed</h4>
        Click <a href="{{ url_for('graph_minus_node') }}">here</a> to see the graph with the highest <a href="https://en.wikipedia.org/wiki/Betweenness_centrality">betweenness centrality</a> node removed (<a href="https://twitter.com/@ajitpaifcc">@ajitpaifcc</a>).

        <h4>Two Nodes With Highest Betweenness Centralities Removed</h4>
        Click <a href="{{ url_for('graph_minus_two_nodes') }}">here</a> to see the graph with the two highest <a href="https://en.wikipedia.org/wiki/Betweenness_centrality">betweenness centrality</a> nodes removed (<a href="https://twitter.com/@ajitpaifcc">@ajitpaifcc</a> & <a href="https://twitter.com/@fcc">@fcc</a>).

        <h6>Graphs created using <a href="https://bl.ocks.org/mbostock/4062045">D3</a> and advice from <a href="http://www.austintaylor.io/d3/python/pandas/2016/02/01/create-d3-chart-python-force-directed/">this excellent tutorial.</h6>
    </body>
</div>
</html>